* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #6f4e37;
  color: #ffffff;
}
#hero {
  background-color: #d4a574;
}
