* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #6f4e37;
  color: #ffffff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  transition: all 0.3s ease;
  gap: 200px;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

nav,
#hero {
  color: white;
  background-image: url("../images/backimage.jpg");
  background-repeat: no-repeat;
  background-position: left;
  text-transform: capitalize;
  background-size: 45rem;
  background-color: #200c00;
}
.logo img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(5px 5px 4px black);
  transition: 0.3s;
}
.logo img:hover {
  transform: rotate(20deg) scale(1.2);
}
.links {
  display: flex;
  gap: 150px;
}
.links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.5s;
}
.links a:hover {
  color: #04ff00;
  transform: translatey(-5px) scale(1.2);
  opacity: 0.8;
}
.links a:focus {
  color: red;
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  margin-bottom: 200px;
  height: 100hv;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  flex-wrap: wrap;
}
.hero-text h1 {
  font-style: oblique;
  font-size: 45px;
  margin-bottom: 10px;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-image img {
  width: 500px;
  height: 400px;
  border-radius: 20px;
  margin: 100px 2px 20px 0;
  animation: float 3s ease-in-out infinite;
  float: left;
}
.hero-image img:hover {
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.hero-image button {
  margin: 10px 100px 150px;
  width: 150px;
  height: 70px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f5f5dc;
  color: #2c1810;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: hsl(319, 21%, 39%);
  color: #ffffff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
