* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #6f4e37;
  color: #ffffff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  transition: all 0.3s ease;
  gap: 200px;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

nav,
#hero {
  color: white;
  background-image: url("../images/backimage.jpg");
  background-repeat: no-repeat;
  background-position: left;
  text-transform: capitalize;
  background-size: 45rem;
  background-color: #200c00;
}
.logo img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(5px 5px 4px black);
  transition: 0.3s;
}
.logo img:hover {
  transform: rotate(20deg) scale(1.2);
}
.links {
  display: flex;
  gap: 150px;
}
.links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.5s;
}
.links a:hover {
  color: #04ff00;
  transform: translatey(-5px) scale(1.2);
  opacity: 0.8;
}
.links a:focus {
  color: red;
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  margin-bottom: 200px;
  height: 100hv;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  flex-wrap: wrap;
}
.hero-text h1 {
  font-style: oblique;
  font-size: 45px;
  margin-bottom: 10px;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-image img {
  width: 500px;
  height: 400px;
  border-radius: 20px;
  margin: 100px 2px 20px 0;
  animation: float 3s ease-in-out infinite;
  float: left;
}
.hero-image img:hover {
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.hero-image button {
  margin: 10px 100px 150px;
  width: 150px;
  height: 70px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f5f5dc;
  color: #2c1810;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: hsl(319, 21%, 39%);
  color: #ffffff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
#menu {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(
    to right,
    rgb(136, 115, 115),
    rgb(51, 182, 152),
    rgb(208, 53, 53)
  );
  margin-top: 200px;
  margin-bottom: 200px;
  color: #200c00;
}
.menu-text p {
  font-size: 20px;
}

.menu-cards {
  text-align: center;
  padding: 50px 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr 1fr;
  font-size: 25px;
  text-shadow: 0 4px 12px rgba(1, 37, 66, 0.35);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 300px;
}

.menu-card img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 50px 50px 50px 50px;
}
.menu-card img:hover {
  transform: scale(1.5);
}
h2 {
  text-align: center;
  margin: 100px 20px 0px 0px;
  font-size: 30px;
  font-style: italic;
}

.menu-card button {
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin-top: 25px;
}
#about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10em;
  background-image: url("../images/cafe.jpg");
}
.about-image img {
  max-width: 100%;
  width: 600px;
  height: 600px;
  margin-top: 100px;
  margin-right: 200px;
  margin-bottom: 300px;
}
.about-text {
  max-width: 100%;
  width: 700px;
  height: 600px;
  background-color: #ffffff;
  color: #c90d74;
  line-height: 1.8;
  font-size: 15pxpx;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
  border-radius: 20px;
  margin-bottom: 300px;
}
